@model IEnumerable<FlightBookingSystem.Models.Flight>

<h2 class="text-center mt-5">Manage Flights</h2>


<div class="text-right mb-3">
    <a asp-action="Add" class="btn btn-success">
        <i class="fas fa-plus"></i> Add New Flight
    </a>
</div>
<div class="container mt-4">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FlightNumber)</th>
                <th>@Html.DisplayNameFor(model => model.DepartureAirport)</th>
                <th>@Html.DisplayNameFor(model => model.ArrivalAirport)</th>
                <th>@Html.DisplayNameFor(model => model.DepartureTime)</th>
                <th>@Html.DisplayNameFor(model => model.ArrivalTime)</th>
                <th>@Html.DisplayNameFor(model => model.TotalSeats)</th>
                <th>@Html.DisplayNameFor(model => model.BookedSeats)</th>
                <th>@Html.DisplayNameFor(model => model.BasePrice)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => flight.FlightNumber)</td>
                    <td>@Html.DisplayFor(modelItem => flight.DepartureAirport)</td>
                    <td>@Html.DisplayFor(modelItem => flight.ArrivalAirport)</td>
                    <td>@flight.DepartureTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@flight.ArrivalTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@Html.DisplayFor(modelItem => flight.TotalSeats)</td>
                    <td>@Html.DisplayFor(modelItem => flight.BookedSeats)</td>
                    <td>@Html.DisplayFor(modelItem => flight.BasePrice)</td>
                    <td>@Html.DisplayFor(modelItem => flight.Status)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@flight.FlightId" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a asp-action="Delete" asp-route-id="@flight.FlightId" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
