@model IEnumerable<Payment>   

@{
    ViewData["Title"] = "Payments";
}

<h2>Payments</h2>

<p>
    <a asp-action="Create">Create New Payment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>